@font-face {
  font-family: 'Sansation';
  src: url('assets/fonts/Sansation_Regular.ttf') format('truetype');
}
*{
    margin: 0%;
    padding: 0%;
    background-color: #326789;
    /* overflow: hidden; */
    
}
header{
    position: absolute;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    z-index: 400;

}
.logo{
    height: 73px;
    width: 79px;
    
}
.center_nav{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}
.center_nav ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.center_nav ul li{
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    

}
.nav_btn{
    display: inline-flex;
    padding: 10px;
    align-items: center;
    border-radius: 8px;
    background: #E65C4F;
    color: #FFF;
    font-family: Sansation, sans-serif;
    border: none;

}
.nav_btn:hover{
    background: #d04336;
    color: #FFF;
}
.nav_btn:active{
    display: inline-flex;
    padding: 10px;
    align-items: center;
    border-radius: 8px;
    background: #E65C4F;
    color: #FFF;
}
.main{
    display: flex;
    align-items: center;
    height: 85vh;
}
.home_intro{
    color: #FFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
    font-weight: 400;
    z-index: 300;
    padding-left: 8rem;
    background-color: transparent;
}
.bg_ground{
    position: absolute;
    bottom: 0%;
    z-index: -4;
}
.cleaner{
    z-index: 2;
    background-color: transparent;
    padding-top: 80px;
    
}
.main_down{
    background-color: #D1E9FB;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content:center;
    gap: 140px;
    /* overflow: hidden; */
    position: relative;
    
}
.main_e1,.main_e2,.main_e3{
    background-color: #78A6C8;
    height: 140px;
    width: 140px;
    border-radius: 100%;
    border: 8px solid #E9EEF4;
    position: absolute;
    top: -80px;
    
}
