@font-face {
  font-family: 'Sansation';
  src: url('assets/fonts/Sansation_Regular.ttf') format('truetype');
}
*{
    margin: 0%;
    padding: 0%;
    /* background-color: #326789; */
    /* overflow: hidden; */
    
}
.bgt{
    background-color: transparent;
}
header{
    position: absolute;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    z-index: 400;

}
.logo{
    height: 73px;
    width: 79px;
    
}
.center_nav{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}
.center_nav ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.center_nav ul li{
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    

}
.nav_btn{
    display: inline-flex;
    padding: 10px;
    align-items: center;
    border-radius: 8px;
    background: #E65C4F;
    color: #FFF;
    font-family: Sansation, sans-serif;
    border: none;

}
.nav_btn:hover{
    background: #d04336;
    color: #FFF;
}
.nav_btn:active{
    display: inline-flex;
    padding: 10px;
    align-items: center;
    border-radius: 8px;
    background: #E65C4F;
    color: #FFF;
}
.main{
    display: flex;
    align-items: center;
    height: 84vh;
    justify-content: space-around;
    background-color: #326789;
}
.home_intro{
    color: #FFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
    font-weight: 400;
    z-index: 300;
    padding-left: 8rem;
    background-color: transparent;
}
.bg_ground{
    position: absolute;
    bottom: 0%;
    /* z-index: -4; */
    left: 0%;
    bottom: 15%;
    scale: 150%;
}
.cleaner{
    /* z-index: 2; */
    background-color: transparent;
    padding-top: 80px;
    scale: 120%;
    
}
.main_down {
    position: relative;
    background-color: #D1E9FB;
    height: 16vh;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}

.main_e1, .main_e2, .main_e3 {
    flex: 1;
    background-color: #78A6C8;
    height: 140px;
    width: 140px;
    border-radius: 100%;
    border: 8px solid #E9EEF4;
    position: absolute;
    top: -80px;
    
}

.main_e1 {
    margin-left: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_e2 {
    margin-left: 46.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_e3 {
    margin-left: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    background-color: transparent;
}
.main-btn{
    height: 60px;
    width: 200px;
    font-size: 20px;
    background-color: #E65C4F;
    border-radius: 8px;
    color: #FFF;
    margin: 0%;
}
.mbtn{
    padding-left: 8px;
}
.mp{
    font-size: 1.8em;
    text-align: center;
    padding-top: 60px;
}

.subtext-main{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15rem;
}
.hiw{
    height: 80vh;
    background-color: #ffffff;


}
.hiw h1{
    color: #3267892E;
    font-size: 160px;
    text-align: center;
    /* padding-top: 104px; */
}
.div_h1{
    color: #3267892E;
    font-size: 160px;
    text-align: center;
}
.cardholder_hiw{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}
.card_hiw{
    background-color: #91BEDF;
    width: 308px;
    height: 380px;
    box-shadow: 0 4px 8px 0 rgba(5,5,2,.3);

}
.hiw_card_icon{
    border: 8px solid #91BEDF;
    border-radius: 50%;
    top: -35px;                                                   
    background-color: #326789;
    padding: 10px;
    overflow: visible;
    scale: 100%;
    position: absolute;
    
}

.hiw_card_text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hiw_card_img{
    width: 100%;
}
.hiw_card_img img{
    width: 100%;
}
.hiw_text{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
.hiw_text h2{
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 10px;
    font-size: 32px;
}
.s_main{
    background-color: #E9EEF4;
    height: 84vh;
}
.s_head{
    /* background-color: #E9EEF4; */
    height: 16vh;
}
.s_img_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    padding-top: 10rem;
}
.s_img{
    box-shadow: inset 0 0 0 0 #111;
    transition: .5s;
    border-radius: 10px;    
}
.s_img img{
    scale: 108%;
}
.s_img:hover{
    box-shadow: inset 400px 0 0 0 #111;
    transition: .5s;
}
.wwe_main{
    background-color: #78A6C8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wwe_head{
    color: #FFFFFF2E;
    height: 16vh;
}
.wwe_content p{
    color: rgba(255, 255, 255, 0.74);
    text-align: center;
    font-family: Inter;
    font-size: 3.2em;
    background-color: #78A6C8;
    padding: 3rem 0 3rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 3rem;


}
.wwe_content{
    height: 84vh;
    background-color: #78A6C8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video_main{
    background-image: url(assets/images/Rectangle\ 13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.r_main{
    height: 100vh;
}
.c_box{
    height: 60vh;
    background-color: #E65C4F;
    color: #FFFFFF;

}
.c_box button{
    background-color: #326789;
    color: #FFFFFF;
    padding: ;
}